[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
