[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
pandas = "*"
scikit-learn = "==1.1.2"
requests = "*"
mlflow = "*"
hyperopt = "*"
ipykernel = "*"
seaborn = "*"
sqlalchemy = "*"
ipython-sql = "*"

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
